<h1>Log in</h1>
<fieldset>
	<%= form_for(:session, url: login_path_url, method: "post", class: 'form-horizontal') do |f| %>
		<div class="form-group">
			<%= f.label(:phone, "Phone", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.text_field(:phone, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label(:password, "Password", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.password_field(:password, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<%= f.submit("Log in", class: "btn btn-primary") %>
			</div>
		</div>
	<% end %>
</fieldset>
