<h1>Reset your password</h1>
<fieldset>
	<%= form_for(:token, url: reset_password_path_url, method: "post", class: 'form-horizontal') do |f| %>
		<div class="form-group">
			<%= f.label(:phone, "Phone", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.text_field(:phone, class: "form-control", maxlength: 10) %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label(:token, "Recovery token", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.text_field(:token, class: "form-control", maxlength: 10) %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label(:password, "Password", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.password_field(:password, class: "form-control") %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label(:password_confirmation, "Reenter password", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.password_field(:password_confirmation, class: "form-control") %>
			</div>
		</div>		
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<%= f.submit("Reset password", class: "btn btn-primary") %>
			</div>
		</div>
	<% end %>
</fieldset>
<%= javascript_include_tag 'jquery.maskedinput' %>
<%= javascript_tag do %>
	jQuery(function($){
   $("#token_phone").mask("999-999-9999");
	});
<% end %>
