<% if errors %>
	<h2>Errors</h2>
	<ul>
	<% errors.each do |error| %>
		<li><%= error %></li>
	<% end %>
<% end %>
<%= form_for :user, url: users_path, method: "post" do |f| %>
	<div>
		<%= f.label(:name, "Name") %>
		<%= f.text_field(:name) %>
	</div>
	<div>
		<%= f.label(:company, "Your company (optional)") %>
		<%= f.text_field(:company) %>
	</div>
	<div>
		<%= f.label(:phone, "Mobile number (digits only)") %>
		<%= f.telephone_field(:phone) %>
	</div>
	<div>
		<%= f.label(:time_zone, "Time zone") %>
		<%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, default: "Eastern Time (US & Canada)") %>
	</div>
	<div>
		<%= f.label(:password, "Password") %>
		<%= f.password_field(:password) %>
	</div>
	<div>
		<%= f.label(:password_confirmation, "Reenter your password") %>
		<%= f.password_field(:password_confirmation) %>
	</div>
	<%= f.submit %>
<% end %>